{% extends "base.html.twig" %}

{% block body %}
    <!-- main-slider -->
    <section class="w3l-main-slider position-relative" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>
                                            Actions speak louder than words! Give today.
                                        </h5>
                                        <div class="banner-buttons">
                                            <a class="btn btn-style btn-primary" href="services.html">
                                                Volunteer
                                            </a>
                                            <a href="#small-dialog" class="popup-with-zoom-anim play-view">
                                                <span class="video-play-icon">
                                                    <span class="fa fa-play"></span>
                                                </span>
                                                <h6>
                                                    How We Works
                                                </h6>
                                            </a>
                                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                                <iframe src="{{asset('https://player.vimeo.com/video/164890650') }}" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>
                                            Creative a Better Future through your Help
                                        </h5>
                                        <div class="banner-buttons">
                                            <a class="btn btn-style btn-primary" href="services.html">
                                                Volunteer
                                            </a>
                                            <a href="#small-dialog" class="popup-with-zoom-anim play-view">
                                                <span class="video-play-icon">
                                                    <span class="fa fa-play"></span>
                                                </span>
                                                <h6>
                                                    How We Works
                                                </h6>
                                            </a>
                                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                                <iframe src="https://player.vimeo.com/video/164890650" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>
                                            Actions speak louder than words! Give today.
                                        </h5>
                                        <div class="banner-buttons">
                                            <a class="btn btn-style btn-primary" href="services.html">
                                                Volunteer
                                            </a>
                                            <a href="#small-dialog1" class="popup-with-zoom-anim play-view">
                                                <span class="video-play-icon">
                                                    <span class="fa fa-play"></span>
                                                </span>
                                                <h6>
                                                    How We Works
                                                </h6>
                                            </a>
                                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                            <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                                                <iframe src="https://player.vimeo.com/video/164890650" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>
                                            Creative a Better Future through your Help
                                        </h5>
                                        <div class="banner-buttons">
                                            <a class="btn btn-style btn-primary" href="services.html">
                                                Volunteer
                                            </a>
                                            <a href="#small-dialog2" class="popup-with-zoom-anim play-view">
                                                <span class="video-play-icon">
                                                    <span class="fa fa-play"></span>
                                                </span>
                                                <h6>
                                                    How We Works
                                                </h6>

                                            </a>
                                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                            <div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
                                                <iframe src="https://player.vimeo.com/video/164890650" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <!-- //banner-slider-->
    <!-- //bottom-grids -->
    <div class="w3l-bottom-grids">
        <div class="container-fluid px-0">
            <div class="bottomhny-grids-sec">
                <div class="bottomhny-1">
                    <div class="bottomhny-gd-ingf">
                        <h4>
                            Charity is a simple method to prove kindness
                        </h4>
                    </div>
                </div>
                <div class="bottomhny-1 bottomhny-2">
                    <div class="bottomhny-gd-ingf">
                        <h4>
                            By giving a little, you will help out a lot.
                        </h4>
                    </div>
                </div>
                <div class="bottomhny-1 bottomhny-1-img">
                    <div class="bottomhny-gd-ingf"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- //bottom-grids -->

    <!-- /features-4 -->
    <section class="features-4">
        <div class="features4-block py-5">
            <div class="container py-lg-4">
                <div class="title-content text-center mb-lg-5 mt-4">
                    <h6 class="sub-title">
                        Why Choose Us
                    </h6>
                    <h3 class="hny-title">
                        How Can Help?
                    </h3>
                    <p class="fea-para">
                        Lorem illum facere aperiam consectetur adipisicing elit
                    </p>
                </div>
                <div class="row features4-grids text-left mt-lg-4">
                    <div class="col-lg-3 col-md-6 features4-grid mt-4">
                        <div class="features4-grid-inn">
                            <div class="img-featured">
                                <div class="ch-item ch-img-1">
                                    <div class="ch-info-wrap">
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-1"></div>
                                            <div class="ch-info-back">
                                                <h4>
                                                    Donate
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="features4-rightinfo">
                                <h5>
                                    <a href="#URL">
                                        Give Donation
                                    </a>
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet,Ea consequuntur illum facere.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 features4-grid mt-4">
                        <div class="features4-grid-inn">
                            <div class="img-featured">
                                <div class="ch-item ch-img-2">
                                    <div class="ch-info-wrap">
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-2"></div>
                                            <div class="ch-info-back">
                                                <h4>
                                                    Participate
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="features4-rightinfo">
                                <h5>
                                    <a href="#URL">
                                        Become A Volunteer
                                    </a>
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet,Ea consequuntur illum facere.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 features4-grid mt-4">
                        <div class="features4-grid-inn">
                            <div class="img-featured">
                                <div class="ch-item ch-img-3">
                                    <div class="ch-info-wrap">
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-3"></div>
                                            <div class="ch-info-back">
                                                <h4>
                                                    Projects
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="features4-rightinfo">
                                <h5>
                                    <a href="#URL">
                                        Manage your project
                                    </a>
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet,Ea consequuntur illum facere.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 features4-grid mt-4">
                        <div class="features4-grid-inn">
                            <div class="img-featured">
                                <div class="ch-item ch-img-4">
                                    <div class="ch-info-wrap">
                                        <div class="ch-info">
                                            <div class="ch-info-front ch-img-4"></div>
                                            <div class="ch-info-back">
                                                <h4>
                                                    Blogs
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="features4-rightinfo">
                                <h5>
                                    <a href="#URL">
                                       Share your story
                                    </a>
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet,Ea consequuntur illum facere.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//features-4 -->

<!-- /specification-6-->
<section class="w3l-specification-6">
    <div class="specification-6-mian py-5">
        <div class="container py-lg-5">
            <div class="row story-6-grids">
                <div class="col-lg-10 story-gd pl-lg-4  text-center mx-auto">
                    <div class="title-content px-lg-5">
                        <h6 class="sub-title">
                            Our Organization
                        </h6>
                        <h3 class="hny-title two">
                            Want to get involved?
                        </h3>
                        <p class="mt-3 mb-lg-5 px-lg-5 counter-para">
                            Lorem illum facere aperiam sequi optio
                            								consectetur
                            								adipisicing elitFuga,
                            								suscipit totam
                            								animi
                            								consequatur saepe blanditiis.Lorem ipsum dolor sit amet
                        </p>
                    </div>
                    <div class="skill_info mt-lg-5 mt-4 pt-lg-4">
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">
                                        65
                                    </p>
                                    <h4>
                                        Number of supporters
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">
                                        165
                                    </p>
                                    <h4>
                                        Fund raised
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">
                                        463
                                    </p>
                                    <h4>
                                        Children Helped
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <div class="stats_left">
                            <div class="counter_grid">
                                <div class="icon_info">
                                    <p class="counter">
                                        5063
                                    </p>
                                    <h4>
                                        Volunteers Worldwide
                                    </h4>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- //specification-6-->
<!--/blog-grids-home-->
<section class="bloghny-gds py-5">
    <div class="container py-lg-4">
        <div class="title-content text-left mb-lg-5 mb-4">
            <h6 class="sub-title">
                Latest Posts
            </h6>
            <h3 class="hny-title">
                News & Updates
            </h3>

        </div>
        <div class="row text-left img-grids">
            <div class="col-lg-4 col-sm-6 maghny-gd-1">
                <div class="maghny-grid">
                    <figure class="effect-lily">
                        <img class="img-fluid" src="assets/images/g1.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>
                                    Partnering to create a community
                                </h4>

                                <p>
                                    <span class="year">
                                        Apr 4th 2020
                                    </span>
                                    <span class="info">
                                        News, Updates
                                    </span>
                                </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 maghny-gd-1">
                <div class="maghny-grid">
                    <figure class="effect-lily">
                        <img class="img-fluid" src="assets/images/g2.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>
                                    Partnering to create a community
                                </h4>

                                <p>
                                    <span class="year">
                                        Apr 4th 2020
                                    </span>
                                    <span class="info">
                                        News, Updates
                                    </span>
                                </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 maghny-gd-1">
                <div class="maghny-grid">
                    <figure class="effect-lily">
                        <img class="img-fluid" src="assets/images/g3.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>
                                    Partnering to create a community
                                </h4>

                                <p>
                                    <span class="year">
                                        Apr 4th 2020
                                    </span>
                                    <span class="info">
                                        News, Updates
                                    </span>
                                </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 maghny-gd-1">
                <div class="maghny-grid">
                    <figure class="effect-lily">
                        <img class="img-fluid" src="assets/images/g4.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>
                                    Partnering to create a community
                                </h4>

                                <p>
                                    <span class="year">
                                        Apr 4th 2020
                                    </span>
                                    <span class="info">
                                        News, Updates
                                    </span>
                                </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 maghny-gd-1">
                <div class="maghny-grid">
                    <figure class="effect-lily">
                        <img class="img-fluid" src="assets/images/g5.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>
                                    Partnering to create a community
                                </h4>

                                <p>
                                    <span class="year">
                                        Apr 4th 2020
                                    </span>
                                    <span class="info">
                                        News, Updates
                                    </span>
                                </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 maghny-gd-1">
                <div class="maghny-grid">
                    <figure class="effect-lily">
                        <img class="img-fluid" src="assets/images/g6.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>
                                    Partnering to create a community
                                </h4>

                                <p>
                                    <span class="year">
                                        Apr 4th 2020
                                    </span>
                                    <span class="info">
                                        News, Updates
                                    </span>
                                </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

    </div>
</div></section><!--//blog-grids-home--><!-- middle --><div class="middle py-5">
<div class="container py-xl-5 py-lg-3">
    <div class="welcome-left text-center py-3">
        <div class="title-content">
            <h6 class="sub-title">
                Join Us
            </h6>
            <h3 class="hny-title two">
                Become A Volunteer
            </h3>
            <p>
                Join your hand with us for a better life and beautiful future
            </p>

        </div>
        <a href="donate.html" class="btn btn-style transparent-btn mt-4 mr-sm-2">
            Donate Now
        </a>
        <a href="contact.html" class="btn btn-style btn-primary mt-4">
            Contact Us
        </a>
    </div>
</div></div><!-- //middle --><!--/testimonials--><section class="w3l-testimonials">
<div class="testimonials py-5">
    <div class="container text-center py-lg-3">
        <div class="title-content text-center mb-lg-5 mb-4">
            <h6 class="sub-title">
                Testimonials
            </h6>
            <h3 class="hny-title">
                What Our
                						People Says?
            </h3>

        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="owl-testimonial owl-carousel owl-theme">
                    <div class="item">
                        <div class="slider-info mt-lg-4 mt-3">
                            <div class="img-circle">
                                <img src="assets/images/f2.jpg" class="img-fluid rounded" alt="client image"></div>
                                <div class="message">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit
                                    										id
                                    										accusantium
                                    										officia quod quasi necessitatibus perspiciatis Harum error provident
                                    										quibusdam tenetur.
                                </div>
                                <div class="name">
                                    - Jenkins
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="assets/images/f4.jpg" class="img-fluid rounded" alt="client image"></div>
                                    <div class="message">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit
                                        										id
                                        										accusantium
                                        										officia quod quasi necessitatibus perspiciatis Harum error provident
                                        										quibusdam tenetur.
                                    </div>
                                    <div class="name">
                                        - John Balmer
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-info mt-lg-4 mt-3">
                                    <div class="img-circle">
                                        <img src="assets/images/f3.jpg" class="img-fluid rounded" alt="client image"></div>
                                        <div class="message">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit
                                            										id
                                            										accusantium
                                            										officia quod quasi necessitatibus perspiciatis Harum error provident
                                            										quibusdam tenetur.
                                        </div>
                                        <div class="name">
                                            - Kiss Kington
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="slider-info mt-lg-4 mt-3">
                                        <div class="img-circle">
                                            <img src="assets/images/f6.jpg" class="img-fluid rounded" alt="client image"></div>
                                            <div class="message">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit
                                                										id
                                                										accusantium
                                                										officia quod quasi necessitatibus perspiciatis Harum error provident
                                                										quibusdam tenetur.
                                            </div>
                                            <div class="name">
                                                - Elizabeth
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}
        