{% extends 'base.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}
    <div class="inner-banner"></div>
<div class="container">
    <h1>Create new Blog</h1>

    {{ include('blog/_form.html.twig') }}

    <a href="{{ path('app_blog_index') }}" class="btn btn-outline-info">back to list</a>
</div>
{% endblock %}
