<footer class="w3l-footer-66">
	<section class="footer-inner-main">
    <div class="footer-hny-grids py-5">
        <div class="container py-lg-4">
            <div class="text-txt">
                <div class="row newsletter-grids-footer">
                    <div class="col-lg-6 newsletter-text pr-lg-5">
                        <h3 class="hny-title two">
                            Newsletter
                                                                                
                                                    
                        </h3>
                        <h4>
                            Sign up for our monthly newsletter to get the latest news, volunteer opportunities,
                                                                                    										
                                                                                
                                                    
                        </h4>
                    </div>
                    <div class="col-lg-6 newsletter-right">
                        <form action="#" method="post" class="footer-newsletter">

                            <input type="email" name="email" class="form-input" placeholder="Enter your email..">

                            <button type="submit" class="btn">
                                Subscribe
                                                                                            
                                                            
                            </button>
                        </form>
                    </div>
                </div>
                <div class="right-side">
                    <div class="row sub-columns">
                        <div class="col-lg-4 col-md-6 sub-one-left pr-lg-4">
                            <h2>
                                <a class="navbar-brand" href="index.html">
                                    <span class="fa fa-heart"></span>
                                    <span class="sub-logo">
                                        Liv
                                                                                                                    
                                                                            
                                    </span>
                                    Saverz
                                                                                                            												
                                                                                                        
                                                                    
                                </a>
                            </h2>
                            <!-- if logo is image enable this   
                                                                                    																																											<a class="navbar-brand" href="#index.html">
                                                                                    																																												<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                                                                                    																																											</a> -->
                            <p class="pr-lg-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                                                                																																														Consequuntur hic odio voluptatem tenetur consequatur.Lorem ipsum dolor sit amet
                                                                                                																																														consectetur adipisicing elit.
                                                                                                											
                                                                                            
                                                            
                            </p>
                            <div class="columns-2">
                                <ul class="social">
                                    <li>
                                        <a href="#facebook">
                                            <span class="fa fa-facebook" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#linkedin">
                                            <span class="fa fa-linkedin" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#twitter">
                                            <span class="fa fa-twitter" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#google">
                                            <span class="fa fa-google-plus" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#github">
                                            <span class="fa fa-github" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sub-one-left">
                            <h6>
                                Our Services
                                                                                            
                                                            
                            </h6>
                            <div class="mid-footer-gd sub-two-right">

                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-angle-double-right mr-2"></span>
                                            Water
                                                                                                                                    																																																													Surve
                                                                                                                                
                                                                                    
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-angle-double-right mr-2"></span>
                                            Education
                                                                                                                                    																																																													for
                                                                                                                                    																																																													all
                                                                                                                                
                                                                                    
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-angle-double-right mr-2"></span>
                                            Food
                                                                                                                                    																																																													Serving
                                                                                                                                
                                                                                    
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-angle-double-right mr-2"></span>
                                            Animal
                                                                                                                                    																																																													Saves
                                                                                                                                
                                                                                    
                                        </a>
                                    </li>
                                </ul>
                                <ul>
                                    <li><a href="#"><span class="fa fa-angle-double-right mr-2"></span>Sponsors</a></li>
                                    <li><a href="#"><span class="fa fa-angle-double-right mr-2"></span>Help
                                                                                                                        																																																							Orphan</a></li>
                                    <li><a href="#support"><span class="fa fa-angle-double-right mr-2"></span>Case
                                                                                                                        																																																							Studies</a></li>
                                    <li><a href="#terms"><span class="fa fa-angle-double-right mr-2"></span>Our
                                                                                                                        																																																							Organization</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 sub-one-left">
                            <h6>
                                Happy Faces
                                                                                            
                                                            
                            </h6>
                            <div class="instagram-feeds">
                                <div class="b-img">
                                    <a href="#url">
                                        <img src="assets/images/f1.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="b-img">
                                    <a href="#url">
                                        <img src="assets/images/f2.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="b-img">
                                    <a href="#url">
                                        <img src="assets/images/f3.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="b-img">
                                    <a href="#url">
                                        <img src="assets/images/f4.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="b-img">
                                    <a href="#url">
                                        <img src="assets/images/f5.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="b-img">
                                    <a href="#url">
                                        <img src="assets/images/f6.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="below-section">
        <div class="container">
            <div class="copyright-footer">
                <div class="columns text-lg-left">
                    <p>
                        © 2020 LivSaverz. All rights reserved | Designed by
                                                                        										
                                                                        
                                                
                        <a href="https://w3layouts.com">
                            W3layouts
                                                                                
                                                    
                        </a>
                    </p>
                </div>
                <ul class="columns text-lg-right">
                    <li>
                        <a href="#">
                            Privacy Policy
                                                                                
                                                    
                        </a>
                    </li>
                    <li>
                        |
                                                                    
                                            
                    </li>
                    <li>
                        <a href="#">
                            Terms Of Use
                                                                                
                                                    
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-long-arrow-up" aria-hidden="true"></span>
    </button>

	</section>
</footer>