{% extends 'base.html.twig' %}
{% block title %}Add Project {% endblock %}
{% block body %}
   <div class="inner-banner">
   </div>
   <div class="w3-services py-5">
   <div class="container py-lg-4">
      {{ form_start(formProject,{'attr': {'novalidate': 'novalidate'}}) }}
      {{ form_widget(formProject) }}
      {{ form_end(formProject) }}
   </div>
   </div>
{% endblock %}